@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
}

.info p {
    font-size: 26px;
    margin: 5px 0;
    padding-bottom: 5px;
}

.status {
    color: green;
    font-weight: bold;
}

.back-button, .cancel-button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button {
    padding: 8px 15px;
    margin-right: 5px;
    border: none;
    background-color: #d3d3d3;
    cursor: pointer;
    border-radius: 3px;
}
.back-button:hover {
    background-color: #999;
}

.cancel-button {
    background-color: #f08080;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

.cancel-button:hover {
    background-color: #d9534f;
}