@charset "UTF-8";

.logo{
    position: absolute;
    float: left;
    width: 200px;
    height: 200px;
}
#company_name{
    padding-top: 100px;
    display: flow-root;
    text-align: center;
    font-size: 200%;

}
#company_name p{
    font-weight: bold;
}

.text{
    display: block;
    justify-content: center;
    font-size: 200%;
    
}

.info{
    
    display: flex;
    justify-content: left;
    font-size: 200%;
}

.div1{
    padding-left: 300px;

    padding-top: 50px;
}
.div1 a{
    font-size: 26px;
    font-weight: bold;
    color: rgb(66, 89, 124)
}

.button{
    display: flex;
    right: 20px;
    bottom: 20px;
    
    background-color: #7a9dff;
    color: white;
    padding: 10px 200px;
    
    font-size: 25px;
    font-weight: bold;
}

.top_button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.top_text{
    font-size: 200%;
    margin: 100px;
    display: flex;
    justify-content: center;
}

.button1{
    width: 300px;
    height: 200px;
    justify-content: center;
    justify-items: center;
    font-size:200%;
}

.checkout_title{
    float: left;
}

.dish{
    padding: 30px;
    font-size: 250%;
}
select{
    width: 200px;
    height: 40px;
    font-size: 200%;
    text-align: center;
}